<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>首页</title>
<!--    <script src="js/jquery-3.5.1.js"></script>-->
<!--    <script src="js/index.js"></script>-->
</head>
<body>

<div id="app1">
    <ul>
        <li v-for="items in msg">{{items.text}}</li>
    </ul>
    <p>{{tips}}</p>
    <button v-on:click="aaaaa">click me </button>
</div>


<div id="app2">
    <input type="radio" name="name" id="" v-model="name" value="boy" />男
    <input type="radio" name="name" id="" v-model="name" value="girl" />女

    <p>{{name}}</p>
</div>

<script src="js/vue.js"></script>
<script>
    let lists = [{text: 'hello'},{text: 'hi'},{text: 'how are you'}]

    let app1 = new Vue({
        el: '#app1',
        data: {
            msg: lists,
            tips: 'this is a tip , and this is another tip!'
        },
        methods: {
            aaaaa: function () {
                this.tips = this.tips.split("").reverse().join("");
            }
        }
    })

    let app2 = new Vue({
        el: '#app2',
        data: {
            name: 'girl'
        }
    })
</script>

</body>
</html>